@import "tailwindcss";
@import "@theme-toggles/react/styles.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@utility font-helvetica {
  font-family: 'Helvetica', Arial, sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;        /* Chrome, Safari and Opera */
  }
}

:root {
  --sidebar: #171717;
  --sidebar-foreground: hsl(0, 0%, 80%);
  --sidebar-primary: hsl(0 0% 15%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4% 12%);
  --sidebar-accent-foreground: hsl(0 0% 98%);
  --sidebar-border: hsl(0, 0%, 8%);
  --sidebar-ring: hsl(0 0% 40%);
  --sidebar-width: 16rem;
  --sidebar-width-icon: 3.5rem;
  --popover: #1f2023;
  --popover-foreground: #f4f4f5;
  --accent: #2e3033;
  --accent-foreground: #ffffff;
  --border: #2e3033;
  --muted: #2e3033;
}

.light {
  --sidebar: #ffffff;
  --sidebar-foreground: hsl(0, 0%, 20%);
  --sidebar-primary: hsl(0 0% 95%);
  --sidebar-primary-foreground: hsl(0 0% 10%);
  --sidebar-accent: hsl(240 5% 90%);
  --sidebar-accent-foreground: hsl(0 0% 10%);
  --sidebar-border: hsl(0, 0%, 85%);
  --sidebar-ring: hsl(0 0% 60%);
  --popover: #ffffff;
  --popover-foreground: #18181b;
  --accent: #e4e4e7;
  --accent-foreground: #18181b;
  --border: #e4e4e7;
  --muted: #e4e4e7;
}

.dark {
  --sidebar: #171717;
  --sidebar-foreground: hsl(0, 0%, 96%);
  --sidebar-primary: hsl(0 0% 15%);
  --sidebar-primary-foreground: hsl(0, 0%, 97%);
  --sidebar-accent: hsl(0, 0%, 11%);
  --sidebar-accent-foreground: hsl(0, 0%, 100%);
  --sidebar-border: hsl(240, 1%, 21%);
  --sidebar-ring: hsl(0 0% 40%);
  --sidebar-width: 16rem;
  --sidebar-width-icon: 3.5rem;
  --popover: #1f2023;
  --popover-foreground: #f4f4f5;
  --accent: #2e3033;
  --accent-foreground: #ffffff;
  --border: #2e3033;
  --muted: #2e3033;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
}
